name: Build standalone tool for Windows

on: push

jobs:

  Compile-on-Windows:

    runs-on: windows-latest

    steps:

      - uses: actions/checkout@v4
      
      - uses: robinraju/release-downloader@v1.10
        with:
          repository: "MerginMaps/geodiff"
          # latest: true
          tag: "2.2.0"
          fileName: "geodiff.exe"
          zipBall: false
          out-file-path: "scripts/windows_binaries"
      
      - uses: actions/setup-python@v5
        with:
            python-version: '3.10' 

      - name: Install dependencies
        run: |
            python -m pip install -r requirements.txt
            python -m pip install pyinstaller

      - name: Build Binary
        run: |
            cd scripts
            cmd.exe /C build_exe.bat
      
      - name: Copy config file
        run: copy config.yaml.default scripts/dist/config.yaml
 
      - name: Upload Zip file as artifact
        uses: actions/upload-artifact@v4
        with:
          name: dbsync_standalone_win
          path: scripts/dist 
